<div class="ui blue icon message">
  <i class="hand spock outline icon"></i>
  <div class="content">
    <div class="header">
      Thank you for visiting our Blog!
    </div>
    <p>Hope you enjoyed the content.</p>
  </div>
</div>
</div>
</body>
</html>